<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>lavingt3 &#8211; Lavington Dental Services</title>
	<atom:link href="https://lavingtondentalservices.co.ke/author/lavingt3/feed/" rel="self" type="application/rss+xml" />
	<link>https://lavingtondentalservices.co.ke</link>
	<description>We provide The best dental services</description>
	<lastBuildDate>Thu, 10 Feb 2022 19:21:22 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.9</generator>

<image>
	<url>https://lavingtondentalservices.co.ke/wp-content/uploads/2021/08/52226be485711aafe51fc9f45afa6a72-1.png</url>
	<title>lavingt3 &#8211; Lavington Dental Services</title>
	<link>https://lavingtondentalservices.co.ke</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Endodontics</title>
		<link>https://lavingtondentalservices.co.ke/endodontics/</link>
					<comments>https://lavingtondentalservices.co.ke/endodontics/#respond</comments>
		
		<dc:creator><![CDATA[lavingt3]]></dc:creator>
		<pubDate>Wed, 18 Aug 2021 10:49:27 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">https://example.lavingtondentalservices.co.ke/?p=229</guid>

					<description><![CDATA[Occasionally a tooth that has undergone endodontic, treatment fails to heal or pain continues despite therapy. Although rare, sometimes a tooth initially responds to root canal therapy but becomes painful or diseased months or years later. When either of these situations occur, the tooth often can be maintained with a second endodontic treatment]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="229" class="elementor elementor-229" data-elementor-settings="[]">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-56768e5 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="56768e5" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-fd6c85b" data-id="fd6c85b" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<section class="elementor-section elementor-inner-section elementor-element elementor-element-038f95f elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="038f95f" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-91ed716" data-id="91ed716" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-a33ce01 elementor-widget elementor-widget-image" data-id="a33ce01" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
			<style>/*! elementor - v3.5.5 - 03-02-2022 */
.elementor-widget-image{text-align:center}.elementor-widget-image a{display:inline-block}.elementor-widget-image a img[src$=".svg"]{width:48px}.elementor-widget-image img{vertical-align:middle;display:inline-block}</style>												<img width="564" height="469" src="https://lavingtondentalservices.co.ke/wp-content/uploads/2021/08/LAVINGTON-DENTAL-SERVICES-PRESENTATION-5679.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="https://lavingtondentalservices.co.ke/wp-content/uploads/2021/08/LAVINGTON-DENTAL-SERVICES-PRESENTATION-5679.jpg 564w, https://lavingtondentalservices.co.ke/wp-content/uploads/2021/08/LAVINGTON-DENTAL-SERVICES-PRESENTATION-5679-300x249.jpg 300w" sizes="(max-width: 564px) 100vw, 564px" />															</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-aec91e7" data-id="aec91e7" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-ed65fa4 elementor-widget elementor-widget-text-editor" data-id="ed65fa4" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
			<style>/*! elementor - v3.5.5 - 03-02-2022 */
.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:#818a91;color:#fff}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap{color:#818a91;border:3px solid;background-color:transparent}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap{margin-top:8px}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter{width:1em;height:1em}.elementor-widget-text-editor .elementor-drop-cap{float:left;text-align:center;line-height:1;font-size:50px}.elementor-widget-text-editor .elementor-drop-cap-letter{display:inline-block}</style>				<p>Occasionally a tooth that has undergone endodontic, treatment fails to heal or pain continues despite therapy. Although rare, sometimes a tooth initially responds to root canal therapy but becomes painful or diseased months or years later. When either of these situations occur, the tooth often can be maintained with a second endodontic treatment</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
						</div>
					</div>
		]]></content:encoded>
					
					<wfw:commentRss>https://lavingtondentalservices.co.ke/endodontics/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Dental Bridges</title>
		<link>https://lavingtondentalservices.co.ke/bridges/</link>
		
		<dc:creator><![CDATA[lavingt3]]></dc:creator>
		<pubDate>Wed, 18 Aug 2021 10:41:38 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">https://example.lavingtondentalservices.co.ke/?p=221</guid>

					<description><![CDATA[The major function of the Dental Bridge is to fill the gap between teeth generated due to the missing of one or more teeth. Here, a bridge is created of two crowns for the teeth on each side of the gap and the gap itself is filled by a false tooth/teeth. The two teeth on &#8230;<p class="read-more"> <a class="" href="https://lavingtondentalservices.co.ke/bridges/"> <span class="screen-reader-text">Dental Bridges</span> Read More &#187;</a></p>]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="221" class="elementor elementor-221" data-elementor-settings="[]">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-b6caa2b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="b6caa2b" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-bfb9730" data-id="bfb9730" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<section class="elementor-section elementor-inner-section elementor-element elementor-element-2d020c3 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2d020c3" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-1ca7736" data-id="1ca7736" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-b7c6137 elementor-widget elementor-widget-image" data-id="b7c6137" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="414" height="312" src="https://lavingtondentalservices.co.ke/wp-content/uploads/2021/08/LAVINGTON-DENTAL-SERVICES-PRESENTATION-5679-4.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="https://lavingtondentalservices.co.ke/wp-content/uploads/2021/08/LAVINGTON-DENTAL-SERVICES-PRESENTATION-5679-4.jpg 414w, https://lavingtondentalservices.co.ke/wp-content/uploads/2021/08/LAVINGTON-DENTAL-SERVICES-PRESENTATION-5679-4-300x226.jpg 300w" sizes="(max-width: 414px) 100vw, 414px" />															</div>
				</div>
				<div class="elementor-element elementor-element-0a69110 elementor-widget elementor-widget-image" data-id="0a69110" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="617" height="472" src="https://lavingtondentalservices.co.ke/wp-content/uploads/2021/08/LAVINGTON-DENTAL-SERVICES-PRESENTATION-5679-3.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="https://lavingtondentalservices.co.ke/wp-content/uploads/2021/08/LAVINGTON-DENTAL-SERVICES-PRESENTATION-5679-3.jpg 617w, https://lavingtondentalservices.co.ke/wp-content/uploads/2021/08/LAVINGTON-DENTAL-SERVICES-PRESENTATION-5679-3-300x229.jpg 300w" sizes="(max-width: 617px) 100vw, 617px" />															</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-1baf525" data-id="1baf525" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-e07afd2 elementor-widget elementor-widget-text-editor" data-id="e07afd2" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>The major function of the Dental Bridge is to fill the gap between teeth generated due to the missing of one or more teeth. Here, a bridge is created of two crowns for the teeth on each side of the gap and the gap itself is filled by a false tooth/teeth.</p>						</div>
				</div>
				<div class="elementor-element elementor-element-a7543fc elementor-widget elementor-widget-text-editor" data-id="a7543fc" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>The two teeth on the either side of the false teeth play the anchoring role and are termed as abutment teeth. The false teeth are known as pontics in dental terms. These false teeth (Pontics) are made from the materials like alloys, gold, porcelain or with a combination of all the materials. The dental bridges can get the necessary support with the help of natural teeth or by implants.</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<div class="elementor-element elementor-element-7655e8b elementor-widget elementor-widget-heading" data-id="7655e8b" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<style>/*! elementor - v3.5.5 - 03-02-2022 */
.elementor-heading-title{padding:0;margin:0;line-height:1}.elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a{color:inherit;font-size:inherit;line-height:inherit}.elementor-widget-heading .elementor-heading-title.elementor-size-small{font-size:15px}.elementor-widget-heading .elementor-heading-title.elementor-size-medium{font-size:19px}.elementor-widget-heading .elementor-heading-title.elementor-size-large{font-size:29px}.elementor-widget-heading .elementor-heading-title.elementor-size-xl{font-size:39px}.elementor-widget-heading .elementor-heading-title.elementor-size-xxl{font-size:59px}</style><h5 class="elementor-heading-title elementor-size-default">Why Dental Bridges?</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-7917dca elementor-widget elementor-widget-text-editor" data-id="7917dca" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>There is immense number of benefits you can avail of, while going in for dental bridges. The major advantage of these bridges is that with the help of them you can easily restore your smile as well as personality.</p><p>It is a fact that you will certainly feel uncomfortable while biting food, even if one tooth is missing. If you are missing multiple teeth, it becomes quite difficult for everyday activities such as eating or speaking. This problem can easily be sought out, with the help of bridges.</p>						</div>
				</div>
				<div class="elementor-element elementor-element-ec38c27 elementor-widget elementor-widget-heading" data-id="ec38c27" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">Dental Bridge Procedure</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-ee32991 elementor-widget elementor-widget-text-editor" data-id="ee32991" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>If you want to obtain a dental bridge, then you will be required to make visits to the dental clinic a few times. During the first visit to the clinic, Diagnosis and general evaluation is carried out to make sure dental bridge is the right treatment for you. Then abutment teeth are prepared according to the requirement of your bite.</p><p>A specific portion of the enamel is removed so that the crown can be placed over the teeth. In the next step impressions of the teeth are taken, so that it can be taken as a model for the manufacturing of pontic, crowns and bridges in the dental laboratory. Your dentist will provide you a temporary bridge for the protection of exposed gums and teeth for some period of time.</p><p style="font-weight: 400;">In the next visit, the temporary bridge will be removed and a new permanent bridge will be located in the place, which can easily be adjusted according to the requirement of the patient. It will take around two weeks for permanent bridge to get cemented into its location. After that it can perform its function independently.</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
						</div>
					</div>
		]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Braces</title>
		<link>https://lavingtondentalservices.co.ke/braces/</link>
					<comments>https://lavingtondentalservices.co.ke/braces/#respond</comments>
		
		<dc:creator><![CDATA[lavingt3]]></dc:creator>
		<pubDate>Wed, 18 Aug 2021 10:31:35 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">https://example.lavingtondentalservices.co.ke/?p=214</guid>

					<description><![CDATA[Dental braces are a way of straightening or moving your teeth, to improve how they look and how they work. Braces can also help you look after the long-term health of your teeth and gums and make eating more comfortable, by spreading the biting pressure across all your teeth. Braces work by putting pressure on &#8230;<p class="read-more"> <a class="" href="https://lavingtondentalservices.co.ke/braces/"> <span class="screen-reader-text">Braces</span> Read More &#187;</a></p>]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="214" class="elementor elementor-214" data-elementor-settings="[]">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-22d38b56 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="22d38b56" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-40bc9972" data-id="40bc9972" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<section class="elementor-section elementor-inner-section elementor-element elementor-element-7e9ec7b5 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7e9ec7b5" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-2feb8f14" data-id="2feb8f14" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-42a19e50 elementor-widget elementor-widget-image" data-id="42a19e50" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="279" height="275" src="https://lavingtondentalservices.co.ke/wp-content/uploads/2021/08/LAVINGTON-DENTAL-SERVICES-PRESENTATION-5679-6.jpg" class="attachment-full size-full" alt="" loading="lazy" />															</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-4b335ee0" data-id="4b335ee0" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-4e358860 elementor-widget elementor-widget-text-editor" data-id="4e358860" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>Dental braces are a way of straightening or moving your teeth, to improve how they look and how they work. Braces can also help you look after the long-term health of your teeth and gums and make eating more comfortable, by spreading the biting pressure across all your teeth.</p><p>Braces work by putting pressure on the teeth, to slowly move them in the right direction. As the pressure takes effect, the bone in the jaw changes to allow the teeth and their roots to move.</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-ea9fdde elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ea9fdde" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5003132" data-id="5003132" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-88aef1c elementor-widget elementor-widget-heading" data-id="88aef1c" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">Who usually has orthodontic treatment and wears braces?</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-c4d3784 elementor-widget elementor-widget-text-editor" data-id="c4d3784" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>The best time to have braces is generally during childhood. But adults can have orthodontic treatment too – and more and more are doing this. Age is less important than having healthy teeth and gums. Children may have to wait for enough teeth to come through before starting treatment.</p><p>It is important that your mouth is fit and healthy before you have orthodontic treatment. Some patients can’t have orthodontic treatment – for example, if they have advanced gum disease. Only an orthodontist can decide whether you are able to have orthodontics</p>						</div>
				</div>
				<div class="elementor-element elementor-element-c00f069 elementor-widget elementor-widget-heading" data-id="c00f069" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">Why might you need braces?</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-c592388 elementor-widget elementor-widget-text-editor" data-id="c592388" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>There are many reasons why you might want, or be advised, to have braces.</p><p>Some of the most common reasons are:</p><ul><li>overcrowded or crooked teeth</li><li>not enough, or too much, spacing between your teeth</li><li>upper front teeth that stick out (called an &#8216;overjet&#8217;)</li><li>lower teeth that bite too far behind your upper teeth (called an &#8216;overbite&#8217;) </li><li>upper front teeth that bite behind your lower ones (called an &#8216;underbite&#8217;)</li><li>the appearance of your smile</li></ul><p> </p>						</div>
				</div>
				<div class="elementor-element elementor-element-666c241 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading" data-id="666c241" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">What is it like to wear braces?</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-569ab38 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-text-editor" data-id="569ab38" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>Most braces are made of metal, but some are made of ceramic or plastic. They are designed to be comfortable, but they may rub your mouth or make it feel sore. Also, your teeth may feel tender or sore as they start to move.</p><p>These issues don’t usually last long (a few days at most). They may happen at the start of your treatment or when your brace has been adjusted.</p><p>Your braces may feel large in your mouth at first, but it is important to remember that your mouth will adapt and get used to them. They are there to guide your teeth into a new and proper position, but they will only do this if you keep wearing them.</p>						</div>
				</div>
				<div class="elementor-element elementor-element-3d9a554 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading" data-id="3d9a554" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">How long will the treatment take?</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-e9950b7 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-text-editor" data-id="e9950b7" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>This depends on how out-of-position your teeth are. It may take anything from a few months to two-and-a-half years. In most scenarios, most people can be treated in less than one to two years.</p>						</div>
				</div>
				<div class="elementor-element elementor-element-ca00cb3 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading" data-id="ca00cb3" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">Do you need to keep seeing our orthodontic team during treatment?</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-ba9af36 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-text-editor" data-id="ba9af36" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>Yes. Everyone will have their own plan tailored to them by our orthodontic team, and braces usually need adjusting every 6 to 8 weeks.</p><p>To get the best results possible, you will need regular appointments with our orthodontist. They will check your brace and teeth, and make adjustments to the brace if they need to.</p>						</div>
				</div>
				<div class="elementor-element elementor-element-d988d9a elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading" data-id="d988d9a" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">Are straight teeth the only benefit of getting braces?</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-5cd0c63 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-text-editor" data-id="5cd0c63" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>No, there are many benefits that come with orthodontic treatment.</p><p>Orthodontic treatment will straighten your teeth or move them into a better position. This not only improves their appearance and the way the teeth bite together but can also make them easier to clean.</p><p>Some people have teeth that stick out. These teeth can be moved back into line (inside the lips) and this can protect them and help keep them clean.</p><p>Crooked and crowded teeth can be hard to keep clean. Making them straight can mean they are easier to clean.</p><p>Teeth that do not meet properly can wear down over time. This can change their appearance.</p><p>Awkward ‘bites’ often cause jaw problems, but straight and even teeth will let you chew food more comfortably. If you feel you have jaw ache, please ask a dental professional for advice. There may be other issues that need to be put right. Only a dentist or orthodontist will be able to give you advice about this.</p><p>Orthodontic treatment may be the best way to improve your teeth. But it is important that you discuss all aspects of your treatment – and the possible and realistic outcomes – before starting.</p>						</div>
				</div>
				<div class="elementor-element elementor-element-dd68c7a elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading" data-id="dd68c7a" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">Can orthodontics damage your teeth?</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-905e1f0 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-text-editor" data-id="905e1f0" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>Your teeth can only be damaged <strong>if </strong>you don&#8217;t look after them properly during treatment.</p><p>The braces themselves will not cause any damage. But poor cleaning and too many sugary foods and drinks can cause permanent damage to your teeth. You need to clean your teeth and braces very carefully.</p><p>Because your teeth, and the roots of your teeth, move through the bone this can cause a slight shortening of the root. This change does not harm your teeth and should not stop you having treatment. Before having orthodontic treatment, it is important that any possible risks are explained to you.</p><p>If orthodontic treatment is carried out incorrectly, there can be permanent damage to the jaw bone, gums and the roots of the teeth. A fully trained orthodontist will make sure this does not happen.</p>						</div>
				</div>
				<div class="elementor-element elementor-element-240fcd5 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading" data-id="240fcd5" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">Is orthodontic work permanent?</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-2c8cb02 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-text-editor" data-id="2c8cb02" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>It’s always possible that teeth might move. Orthodontic treatment aims to move the teeth into a stable position. This is complicated and needs a specialist understanding of where teeth can be moved to, and how.</p><p>The new position of your teeth should be a stable one. However, you should wear your braces for as long as our orthodontist advises. This will help stop your teeth from moving back to where they were. Even if they do this only slightly, you may be disappointed with the result.</p><p>You&#8217;ll also need to wear a ‘retainer’ regularly for some time after your treatment has finished. This stops your teeth moving back to the position they were in before the treatment. We don’t want all the hard work you’ve put in up to this point going to waste!</p>						</div>
				</div>
				<div class="elementor-element elementor-element-28a2cb1 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading" data-id="28a2cb1" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">How do you care for your brace and teeth?</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-0bcd62e elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-text-editor" data-id="0bcd62e" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>It is important to keep having your teeth checked by our dental team, at routine check-ups, while you are having orthodontic treatment and afterwards.</p><p>Clean your teeth carefully every day, including between your teeth where you can. Braces are delicate and you need to make sure you clean them carefully so that they do not break. Your dental team will be able to show you how to do this for the type of brace you are wearing.</p><p>Again, cut down on how much sugary food and drink you have and how often you have them. Also, sticky and hard foods may damage your brace.</p><p>Finally, brush your teeth last thing at night and at least one other time during the day. Use a mouthwash if you need to. Our dental team may recommend a stronger fluoride toothpaste, or perhaps a fluoride gel or mouth rinse, for you to use.</p>						</div>
				</div>
				<div class="elementor-element elementor-element-59469d0 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading" data-id="59469d0" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">How successful are braces?</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-c55abc0 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-text-editor" data-id="c55abc0" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>In most cases, orthodontic treatment works well, but you need to be committed to your treatment for it to be successful. Follow the instructions our orthodontist gives you.</p><p>While you are wearing braces, you need to be more careful about what you eat. To give your braces the best possible chance of improving your teeth, cutting back on sugary and acidic foods is a must. This is because braces can trap bits of food and cause more plaque to build up than usual. Plaque is a thin, sticky film of bacteria that builds up on your teeth.</p><p>You should keep seeing your regular dentist while having orthodontic treatment, and after your treatment has finished.</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
						</div>
					</div>
		]]></content:encoded>
					
					<wfw:commentRss>https://lavingtondentalservices.co.ke/braces/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Gum treatment</title>
		<link>https://lavingtondentalservices.co.ke/scaling-and-polishing/</link>
					<comments>https://lavingtondentalservices.co.ke/scaling-and-polishing/#respond</comments>
		
		<dc:creator><![CDATA[lavingt3]]></dc:creator>
		<pubDate>Wed, 18 Aug 2021 10:22:48 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">https://example.lavingtondentalservices.co.ke/?p=208</guid>

					<description><![CDATA[Gum-disease Periodontal diseases are serious bacterial infections which destroy the attachment fibres and supporting bone that hold your teeth in your mouth. Left untreated, these diseases can and do lead to tooth loss. Periodontal disease is the number one reason why people over the age of 50  lose teeth. Periodontal infection can affect your general &#8230;<p class="read-more"> <a class="" href="https://lavingtondentalservices.co.ke/scaling-and-polishing/"> <span class="screen-reader-text">Gum treatment</span> Read More &#187;</a></p>]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="208" class="elementor elementor-208" data-elementor-settings="[]">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-9a95d49 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="9a95d49" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2813435 elementor-hidden-desktop elementor-hidden-tablet" data-id="2813435" data-element_type="column">
			<div class="elementor-widget-wrap">
									</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-fe5c24f elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="fe5c24f" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9826ef0" data-id="9826ef0" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<section class="elementor-section elementor-inner-section elementor-element elementor-element-797282a elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="797282a" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-7620a6c" data-id="7620a6c" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-04c6ad6 elementor-widget elementor-widget-image" data-id="04c6ad6" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="617" height="472" src="https://lavingtondentalservices.co.ke/wp-content/uploads/2021/08/LAVINGTON-DENTAL-SERVICES-PRESENTATION-5679-3.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="https://lavingtondentalservices.co.ke/wp-content/uploads/2021/08/LAVINGTON-DENTAL-SERVICES-PRESENTATION-5679-3.jpg 617w, https://lavingtondentalservices.co.ke/wp-content/uploads/2021/08/LAVINGTON-DENTAL-SERVICES-PRESENTATION-5679-3-300x229.jpg 300w" sizes="(max-width: 617px) 100vw, 617px" />															</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-ed392bc" data-id="ed392bc" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-64f7b85 elementor-widget elementor-widget-text-editor" data-id="64f7b85" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>Gum-disease Periodontal diseases are serious bacterial infections which destroy the attachment fibres and supporting bone that hold your teeth in your mouth. Left untreated, these diseases can and do lead to tooth loss. Periodontal disease is the number one reason why people over the age of 50  lose teeth. Periodontal infection can affect your general health and hence it is important to control.</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<div class="elementor-element elementor-element-a714a33 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading" data-id="a714a33" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">How does gum disease occur?</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-1acf2ed elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-text-editor" data-id="1acf2ed" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>Gum disease is caused by build-up of bacteria in plaque, a sticky colorless film that constantly forms on your teeth. Regular brushing &amp; flossing and hygienist treatment can remove this build up and prevent gum disease from progressing.</p><p>If plaque is allowed to build up, it will cause irritation to the gums, making them swell up and bleed. This is known as gingivitis. Gingivitis is reversible and is resolved by excellent at-home care and hygienist treatment.</p><p>If gingivitis is not treated and the plaque continually builds up, you will be at risk of periodontitis. This is when the fibres around the tooth are damaged by the increase in bacteria, resulting in pockets and ultimately bone loss around the tooth. Periodontitis is a serious and irreversible condition that can lead to tooth loss..</p>						</div>
				</div>
				<div class="elementor-element elementor-element-40e1701 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading" data-id="40e1701" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">What is treatment like?</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-8e7cba7 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-text-editor" data-id="8e7cba7" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>If you have gingivitis, we recommend that you visit us for regular professional cleaning. If you have periodontitis, a full initial assessment will be carried out to assist in planning a course of treatment specifically tailored to your needs. Scaling-and-Planning treatment will depend on how far the disease has developed.</p><p>Typically, you will undergo in-depth cleaning – a treatment known as “root debridement”. This may require several appointments. Typical cases last from 3 months to 1 year, but for some people, a lifetime commitment may be required. In advanced cases, root debridement is not sufficient to achieve optimal results. In this case, surgical treatment. </p><p>To reduce discomfort, all periodontal procedures are completed under local anesthetic and/or conscious sedation. There may be some post-operative discomfort which you will be advised how to manage by our team.</p>						</div>
				</div>
				<div class="elementor-element elementor-element-6c20b7e elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading" data-id="6c20b7e" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">How can I take care of my new smile?</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-a345aea elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-text-editor" data-id="a345aea" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>It is critical that throughout your treatment and following treatment that you maintain a high level of oral hygiene.</p><p>You can do this by:</p><p>1) Regular brushing; recommended 3 times per day</p><p>2) Using fluoride alcohol-free mouth wash daily</p><p>3) Using inter-dental brushes daily</p><p>4) Eating plenty of fruit &amp; maintain a healthy low-sugar diet; avoid sticky sweets, biscuits, gum, fizzy drinks etc.</p><p>5) Visiting your dentist regularly</p><p>Your new smile will enhance your appearance, increase your confidence and improve your dentition. Please look after your new smile as a lack of conscientious care can lead to staining, decay, gum problems and many more complication</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
						</div>
					</div>
		]]></content:encoded>
					
					<wfw:commentRss>https://lavingtondentalservices.co.ke/scaling-and-polishing/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Fillings</title>
		<link>https://lavingtondentalservices.co.ke/fillings/</link>
					<comments>https://lavingtondentalservices.co.ke/fillings/#respond</comments>
		
		<dc:creator><![CDATA[lavingt3]]></dc:creator>
		<pubDate>Wed, 18 Aug 2021 10:13:30 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">https://example.lavingtondentalservices.co.ke/?p=201</guid>

					<description><![CDATA[Root canal treatment is designed to eliminate bacteria from the infected root canal, prevent reinfection of the tooth and save the natural tooth. When oneundergoes a root canal, the inflamed or infected pulp is removed and theinside of the tooth is carefully cleaned and disinfected, then filled and seal. What happens during root canal treatment? &#8230;<p class="read-more"> <a class="" href="https://lavingtondentalservices.co.ke/fillings/"> <span class="screen-reader-text">Fillings</span> Read More &#187;</a></p>]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="201" class="elementor elementor-201" data-elementor-settings="[]">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-a273ab9 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="a273ab9" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-68a2a33" data-id="68a2a33" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<section class="elementor-section elementor-inner-section elementor-element elementor-element-eb6f4a1 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="eb6f4a1" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-0ce660f" data-id="0ce660f" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-bea7bae elementor-widget elementor-widget-image" data-id="bea7bae" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="544" height="373" src="https://lavingtondentalservices.co.ke/wp-content/uploads/2021/08/LAVINGTON-DENTAL-SERVICES-PRESENTATION-5679-2.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="https://lavingtondentalservices.co.ke/wp-content/uploads/2021/08/LAVINGTON-DENTAL-SERVICES-PRESENTATION-5679-2.jpg 544w, https://lavingtondentalservices.co.ke/wp-content/uploads/2021/08/LAVINGTON-DENTAL-SERVICES-PRESENTATION-5679-2-300x206.jpg 300w" sizes="(max-width: 544px) 100vw, 544px" />															</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-ee30221" data-id="ee30221" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-653ecb1 elementor-widget elementor-widget-text-editor" data-id="653ecb1" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>Root canal treatment is designed to eliminate bacteria from the infected root canal, prevent reinfection of the tooth and save the natural tooth. When one<br />undergoes a root canal, the inflamed or infected pulp is removed and the<br />inside of the tooth is carefully cleaned and disinfected, then filled and seal.</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<div class="elementor-element elementor-element-972d91e elementor-widget elementor-widget-heading" data-id="972d91e" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">What happens during root canal treatment?</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-0e00da5 elementor-widget elementor-widget-text-editor" data-id="0e00da5" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>There’s no need to be worried if our Doctors prescribes a root canal procedure to treat a damaged or diseased tooth. Millions of teeth are treated and saved this way each year, relieving pain and making teeth health again.</p><p>Inside your tooth, beneath the white enamel and a hard layer called dentin, is a soft tissue called pulp. This tissue contains blood vessels, nerves and connective tissue, which help grow the root of your tooth during its development. A fully developed tooth can survive without the pulp because the tooth continues to be nourished by the tissues surrounding it.</p><p>A modern root canal treatment is nothing like those old sayings! It’s very similar to a routine filling and can usually be completed in one or two appointments, depending on the condition of your tooth and your personal circumstances. Getting a root canal is relatively painless and extremely effective. You’ll be back to smiling, biting and chewing with ease in no time.</p>						</div>
				</div>
				<div class="elementor-element elementor-element-8263a97 elementor-widget elementor-widget-heading" data-id="8263a97" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">Saving the natural tooth with root canal treatment has many advantages</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-a92d40d elementor-widget elementor-widget-text-editor" data-id="a92d40d" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<ul><li>Efficient chewing</li><li>Normal biting force and sensation</li><li>Natural appearance</li><li>Protects other teeth from excessive wear or strai</li></ul>						</div>
				</div>
				<div class="elementor-element elementor-element-905563d elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading" data-id="905563d" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">Does a root canal hurt?</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-14fcec3 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-text-editor" data-id="14fcec3" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>Since patients are given anesthesia, a root canal isn’t more painful than a regular dental procedure, such as a filling or getting a wisdom tooth removed. However, a root canal is generally a bit sore or numb after the procedure, and can even cause mild discomfort for a few days, hence not so much to worry about.</p>						</div>
				</div>
				<div class="elementor-element elementor-element-e1e667b elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading" data-id="e1e667b" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">How do you know if you need a root canal?</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-6f0d964 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-text-editor" data-id="6f0d964" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>Root canals are needed for a cracked tooth from injury or genetics, a deep cavity, or issues from a previous filling. Patients generally need a root canal when they notice their teeth are sensitive, particularly to hot and cold sensations. </p><p>There are a few symptoms that mean you might need a root canal;</p><ul><li>Severe pain while chewing or biting</li><li>Pimples on the gums</li><li>A chipped or cracked tooth</li><li>Lingering sensitivity to hot or cold, even after the sensation has been removed</li><li>Swollen or tender gums</li><li>Deep decay or darkening of the gums.</li></ul>						</div>
				</div>
				<div class="elementor-element elementor-element-ca75ad1 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading" data-id="ca75ad1" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">Can I go to school or work after getting a root canal?</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-067a54d elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-text-editor" data-id="067a54d" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>Although you will most likely be numb for 2-4 hours following the procedure, most patients are able to return to school or work directly following a root canal.</p><p>However, it is advised against eating until the numbness is completely gone.</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
						</div>
					</div>
		]]></content:encoded>
					
					<wfw:commentRss>https://lavingtondentalservices.co.ke/fillings/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Dental Emergencies</title>
		<link>https://lavingtondentalservices.co.ke/dental-emergencies/</link>
					<comments>https://lavingtondentalservices.co.ke/dental-emergencies/#respond</comments>
		
		<dc:creator><![CDATA[lavingt3]]></dc:creator>
		<pubDate>Wed, 18 Aug 2021 09:32:03 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">https://example.lavingtondentalservices.co.ke/?p=183</guid>

					<description><![CDATA[Dental Emergencies like dental pain can be quite annoying to the patient and needs to be addressed on priority. We understand the state of mind of the patient in such pain and strive to alleviate the patient of all the discomfort on priority as is desirable. Patient need not take an appointment in such cases &#8230;<p class="read-more"> <a class="" href="https://lavingtondentalservices.co.ke/dental-emergencies/"> <span class="screen-reader-text">Dental Emergencies</span> Read More &#187;</a></p>]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="183" class="elementor elementor-183" data-elementor-settings="[]">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-4a22acf1 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4a22acf1" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2837d40e" data-id="2837d40e" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<section class="elementor-section elementor-inner-section elementor-element elementor-element-42b6e078 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="42b6e078" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-5254663f" data-id="5254663f" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-3e57ca60 elementor-widget elementor-widget-image" data-id="3e57ca60" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="300" height="300" src="https://lavingtondentalservices.co.ke/wp-content/uploads/2022/02/pain.webp" class="attachment-medium size-medium" alt="" loading="lazy" />															</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-7f093e7f" data-id="7f093e7f" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-5c555c65 elementor-widget elementor-widget-text-editor" data-id="5c555c65" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>Dental Emergencies like dental pain can be quite annoying to the patient and needs to be addressed on priority. We understand the state of mind of the patient in such pain and strive to alleviate the patient of all the discomfort on priority as is desirable. Patient need not take an appointment in such cases and can walk-in to ask for the much needed relief.</p><p> </p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-11f5072 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="11f5072" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0c112b2" data-id="0c112b2" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-fc727dc elementor-widget elementor-widget-text-editor" data-id="fc727dc" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>Fractures of teeth, loss of teeth due to accidental trauma are given the emergency treatment prescribed and then is scheduled for comprehensive treatment if needed after careful evaluation and planning. Services of qualified oral surgeons are arranged if the case demands.</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
						</div>
					</div>
		]]></content:encoded>
					
					<wfw:commentRss>https://lavingtondentalservices.co.ke/dental-emergencies/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Children dentistry</title>
		<link>https://lavingtondentalservices.co.ke/children-dentistry/</link>
					<comments>https://lavingtondentalservices.co.ke/children-dentistry/#respond</comments>
		
		<dc:creator><![CDATA[lavingt3]]></dc:creator>
		<pubDate>Wed, 18 Aug 2021 09:01:14 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">https://example.lavingtondentalservices.co.ke/?p=173</guid>

					<description><![CDATA[Pediatric dentistry is the branch of dentistry which specializes in diagnosis, treatment and prevention of teeth in children who are under the age of 16. In this age bracket we concentrate mostly on prevention, which includes instruction in proper diet, use of fluoride if necessary, and practice of good oral hygiene. Treatment deals basically with &#8230;<p class="read-more"> <a class="" href="https://lavingtondentalservices.co.ke/children-dentistry/"> <span class="screen-reader-text">Children dentistry</span> Read More &#187;</a></p>]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="173" class="elementor elementor-173" data-elementor-settings="[]">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-64bcf4b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="64bcf4b" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2674953" data-id="2674953" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<section class="elementor-section elementor-inner-section elementor-element elementor-element-de53010 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="de53010" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-edc7ff5" data-id="edc7ff5" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-1eed0ea elementor-widget elementor-widget-image" data-id="1eed0ea" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="1024" height="576" src="https://lavingtondentalservices.co.ke/wp-content/uploads/2022/02/Ektah-Shah-b4-1024x576.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="https://lavingtondentalservices.co.ke/wp-content/uploads/2022/02/Ektah-Shah-b4-1024x576.jpg 1024w, https://lavingtondentalservices.co.ke/wp-content/uploads/2022/02/Ektah-Shah-b4-300x169.jpg 300w, https://lavingtondentalservices.co.ke/wp-content/uploads/2022/02/Ektah-Shah-b4-768x432.jpg 768w, https://lavingtondentalservices.co.ke/wp-content/uploads/2022/02/Ektah-Shah-b4-1536x864.jpg 1536w, https://lavingtondentalservices.co.ke/wp-content/uploads/2022/02/Ektah-Shah-b4.jpg 1920w" sizes="(max-width: 1024px) 100vw, 1024px" />															</div>
				</div>
				<div class="elementor-element elementor-element-e25d326 elementor-widget elementor-widget-image" data-id="e25d326" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="640" height="480" src="https://lavingtondentalservices.co.ke/wp-content/uploads/2022/02/Kyle-Andy-Maina-b4-1.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="https://lavingtondentalservices.co.ke/wp-content/uploads/2022/02/Kyle-Andy-Maina-b4-1.jpg 640w, https://lavingtondentalservices.co.ke/wp-content/uploads/2022/02/Kyle-Andy-Maina-b4-1-300x225.jpg 300w" sizes="(max-width: 640px) 100vw, 640px" />															</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-c97d3ff" data-id="c97d3ff" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-0da6dad elementor-widget elementor-widget-text-editor" data-id="0da6dad" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p><strong>Pediatric dentistry</strong> is the branch of dentistry which specializes in diagnosis, treatment and prevention of teeth in children who are under the age of 16. In this age bracket we concentrate mostly on prevention, which includes instruction in proper diet, use of fluoride if necessary, and practice of good oral hygiene.</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<div class="elementor-element elementor-element-e01edf5 elementor-widget elementor-widget-text-editor" data-id="e01edf5" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>Treatment deals basically with caries (tooth decay) but includes influencing tooth alignment. Lengthy treatment may be required to correct incipient abnormalities in tooth position. Braces or other correctional devices may be used. </p><p>Negligence in oral health care in children leads to tooth decay which results in decreased school performance and social relationships. Hence Oral care should begin soon after the child&#8217;s birth as there is nothing more beautiful than a child&#8217;s smile. This beautiful smile needs a proper care and attention.</p>						</div>
				</div>
				<div class="elementor-element elementor-element-180f88b elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading" data-id="180f88b" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">When should I take my child to the dentist?</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-efe637d elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-text-editor" data-id="efe637d" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>It is recommended that children should go to the dentist with their parents possibly as soon as baby teeth appear. This will let them get used to the dental clinic environment and prepare them for future visits. The earlier these visits start, the more relaxed the children will be.</p>						</div>
				</div>
				<div class="elementor-element elementor-element-ee9f396 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading" data-id="ee9f396" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">When will my child's teeth appear?</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-ce4ce4e elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-text-editor" data-id="ce4ce4e" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>First (or &#8216;baby&#8217; or ‘milk&#8217;) teeth usually start to appear when your child is around 6 months old. Some kids will get their teeth earlier than others. Girls tend to get their teeth earlier than boys. All twenty baby teeth should appear latest by the age of three years.</p><p>The first permanent &#8216;adult&#8217; molars (back teeth) will appear at about 6 years, before the first baby teeth start to fall out at about 6 to 7. It is usually the lower front teeth that are lost first, followed by the upper front teeth shortly after. All the milk teeth should have been replaced by the permanent teeth latest by the age of 14 years.</p>						</div>
				</div>
				<div class="elementor-element elementor-element-10894c1 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading" data-id="10894c1" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">How should I clean my child's teeth?</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-22a382c elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-text-editor" data-id="22a382c" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>Cleaning your child&#8217;s teeth should be part of their daily hygiene routine. You may find it easier to stand or sit behind your child, cradling their chin in your hand so you can reach their top and bottom teeth more easily.</p><p>When the first teeth start to appear you may use a clean cloth or try using a toothbrush designed for children, with a small smear of toothpaste designed for kids. It is important to supervise your child&#8217;s brushing until they are at least seven. It’s recommended to brush at least three times a day.</p><p>Night brushing is critical Once all the teeth have appeared, use a toothbrush with a small head and soft bristles in small, circular movements and try to concentrate on one section at a time.</p><p>Don&#8217;t forget to brush gently behind the teeth and onto the gums. Remember to encourage your child, as praise will often get results!</p>						</div>
				</div>
				<div class="elementor-element elementor-element-565e66e elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading" data-id="565e66e" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">Should I use fluoride toothpaste?</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-ee409ee elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-text-editor" data-id="ee409ee" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>This is a big question here in Kenya since most of the areas have high fluoride levels especially in parts of the Rift Valley. Your children&#8217;s teeth can get fluoride in a number of different ways, including from toothpaste, specific fluoride applications and perhaps the drinking water in your area.</p><p>These can all help to prevent tooth decay. If you are unsure about how much fluoride levels you have in your area, kindly check with your local dental team. You should make sure that they do not swallow any toothpaste while they are brushing.</p>						</div>
				</div>
				<div class="elementor-element elementor-element-6dbfa94 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading" data-id="6dbfa94" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">What sort of brush should children use?</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-b2e8ada elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-text-editor" data-id="b2e8ada" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>There are many different types of children&#8217;s toothbrushes in the market .Most supermarkets have a wide range to choose from.</p>						</div>
				</div>
				<div class="elementor-element elementor-element-afd4af0 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading" data-id="afd4af0" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">What could cause my child to have toothache?</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-25a33e5 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-text-editor" data-id="25a33e5" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>Toothache is painful and upsetting, especially in children, and the main cause is tooth decay. This is due to too much sugar, too often, in the diet. Analgesics from the pharmacy would come in handy as you organize to get the child checked by the dentist.</p><p>Teething is another problem. It starts at around 6 months, and it can continue when the adult teeth start to appear. There are teething rings that can be bought from the supermarket to help massage the gums and dental gels to help ease the pain.</p>						</div>
				</div>
				<div class="elementor-element elementor-element-de899be elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading" data-id="de899be" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">How can I prevent tooth decay in my child?</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-b4969a4 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-text-editor" data-id="b4969a4" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>The main cause of tooth decay is not the amount of sugar or acid in the diet, but how often it is eaten or drunk. The more often your child has sugary or acidic foods or drinks, the more likely they are to have decay. So it is important to have sugary and acidic foods just at mealtimes. If you want to give your child a snack, try vegetables and fruits. Limit how much dried fruit you give as it is high in sugar and can stick to the teeth.</p><p>Don&#8217;t give them drinks containing sugars, including fruit juices, between meals. Give them water or milk instead. For babies, don&#8217;t add sugar to their drinks, or to foods when you introduce them to solids.</p><p>It is also worth remembering that some processed baby foods contain quite a lot of sugar. Try checking the list of ingredients: the higher up the list sugar is, the more there is in the product. Generally anything ending in ‘ose&#8217; is a sugar, for example: fructose, glucose, lactose or sucrose. Thorough brushing is key.</p>						</div>
				</div>
				<div class="elementor-element elementor-element-8739cc4 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading" data-id="8739cc4" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">How can I prevent tooth decay in my child?</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-444ac3c elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-text-editor" data-id="444ac3c" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>Children can sense fear in their parents, so it is important not to let your child feel that a visit to the dental team is something to be worried about. Try to be supportive if your child needs to have any dental treatment.</p><p>If you have any fears of your own about going to the dentist, don&#8217;t let your child hear you talk about them. It is very important for the parents to be in total control.</p><p>Regular visits to the dental team are essential in helping your child get used to the surroundings and what happens there. A child can be much more anxious if it is their first visit to a dental practice. Pain and distress can happen at any time and it is important to prepare your child with regular visits.</p>						</div>
				</div>
				<div class="elementor-element elementor-element-7288c7f elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading" data-id="7288c7f" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">Thumb sucking</h3>		</div>
				</div>
				<div class="elementor-element elementor-element-1271d7b elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading" data-id="1271d7b" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">Why it happens</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-11994f1 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-text-editor" data-id="11994f1" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>Kids suck their thumbs because it&#8217;s comforting and calming. Your preschooler probably practiced this habit while he/she was still in the womb and perfected it as an infant.</p><p>Now the kid turns to thumb sucking when tired, stressed, scared, bored, sick, or trying to adjust to challenges such as starting daycare or preschool. Also the kid uses it to lull him/her to sleep since it is soothing.</p>						</div>
				</div>
				<div class="elementor-element elementor-element-076f9d1 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading" data-id="076f9d1" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">What to do about thumb-sucking</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-8d2567a elementor-widget elementor-widget-text-editor" data-id="8d2567a" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>Don&#8217;t worry too much since most children can safely suck their thumb without damaging the alignment of their teeth or jaws – until their permanent teeth begin to appear.</p><p>(Permanent teeth don&#8217;t usually start to erupt until around age 6.) .It is important though to get the dentist’s advice if this habit continues after four years. The dentist then decides whether it will be necessary to intervene by introducing a habit breaker to discourage the habit.</p>						</div>
				</div>
				<div class="elementor-element elementor-element-454b705 elementor-widget elementor-widget-heading" data-id="454b705" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">Dental Braces</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-487ab32 elementor-widget elementor-widget-text-editor" data-id="487ab32" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>This section will not be complete without making a quick mention of braces. The key point to highlight is that teeth alignment can start as early as the problem is identified. This is the current trend; it used to be advised that correction of misaligned teeth waits till after 12 years of age. This thinking has shifted. For further reading go to<strong> <a href="http://lavingtondentalservices.co.ke/our-services/services">Dental Braces</a> </strong>under services tab</p>						</div>
				</div>
				<div class="elementor-element elementor-element-e008082 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading" data-id="e008082" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">Dental Sealants</h3>		</div>
				</div>
				<div class="elementor-element elementor-element-7d81791 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-text-editor" data-id="7d81791" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>A dental sealant is a kind of protective coating, which is made up of tinted or transparent plastic. It is painted onto the chewing areas of the back teeth (both premolars and molars), where the possibility of cavity formation is more in comparison to other regions of the teeth.</p><p>Premolars and molars have pits and fissures in them, where the food particles normally get stuck. Some of the fissures present on the surface are so deep that the bristles of the toothbrush are unable to reach them. These holes and gaps on the surface of the teeth provide an ideal environment for bacteria to thrive and generate cavities. The function of these dental sealants is to prevent the happening of the same. The dentists put a thin cover of dental sealant over these pits and fissures and food cannot accumulate in them.</p><p>The major application of sealants is on children’s teeth to prevent cavities at an early age. They are not only effective in function but are affordable as well. They cost well less than the amount spent on filling the cavities. It is advised by quite a few dentists that sealants should be applied on each molar teeth as soon as possible. It is important that while going for the application of sealants, the concerned tooth must be kept dry and free of saliva. If your child is facing a high threat of cavities, then it is best to seal pre-molars with sealants, along with molars.</p><p>This kind of process of sealing the teeth is not advisable for b<span style="color: #003300;">a</span>by teeth. It is common with children although adults do get them as well. In adults it is confined to cases, where there is high risk of dental problems.</p><p>The application of sealants is not a complex process. It consists of a simple, quick and painless procedure. In this case, no preparation is required to be done in advance and can be concluded during a normal dental visit. There is no shots involved in the whole process either and that is the reason why children are not reluctant to go for a dental sealing procedure when compared to other dental treatments.</p><p>Before the application of sealant, the dentist cleans the affected area to remove particles of food, if there is any. It is important that there should not be any kind of wetness on the surface of teeth, so that it can properly stick to the surface of teeth. It is applied in liquid form, so that it can easily cover all pits and fissures. The sealant normally sets in its place within the time period of 20 to 60 seconds. If it does not set within that period of time, then it is set with the help of a special light.</p><p>Studies reveal that they are capable of lasting for a long time; sometimes they stay even for a fortnight. But as they are made of plastic, they are not durable for a very long period of time. If your child is going for it, then it is important to brush twice a day with fluoride toothpaste. It is vital to get the right amount of fluoride during the treatment period and frequent visit to the dentist’s place is also important.</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
						</div>
					</div>
		]]></content:encoded>
					
					<wfw:commentRss>https://lavingtondentalservices.co.ke/children-dentistry/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
